.contact {
  position: relative;
  height: 100vh;
}

.contact-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 0;
  opacity: 0.7;
}

.contact-container {
  margin: 0;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  /* background-color: #232e33; */
  background-color: rgba(35, 46, 51, 0.7);
}

.contact-con-img {
  width: 50%;
  border-radius: 20px;
}

.inner-img {
  border-radius: 20px 0 0 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact-form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
